In [4]:
from warnings import filterwarnings
filterwarnings('ignore')

## API Bağlantısının Yapılması

In [5]:
import tweepy,codecs

In [6]:
# keys

In [7]:
consumer_key = 'GoZTyDDaHOQ1YreBZViTyDFTE'
consumer_secret = 'YxUt3pGFfkmCHz6Mbo77dLhPA1dCPilyDQXpXg8bz0e97Ssp7B'
access_token = '967443566648872961-Q8gso7kaTOF2fD9Lm9INadLKF2qCH9B'
access_token_secret = 'QYKILttsvXVqg9aerSGuTJGiCbk6AVLMJKnZJEd80qTaZ'

auth = tweepy.OAuthHandler(consumer_key,consumer_secret)
auth.set_access_token(access_token,access_token_secret)
api = tweepy.API(auth)

## Takipçi Segmentasyonu
amacımız takipçilerimiz analiz edip takipçilerimizin kendi tweet etki güçlerini ölçmek istiyoruz...

In [9]:
user = api.get_user(id = 'fatihportakal')

In [10]:
followers = user.followers()

In [12]:
import pandas as pd

def friends_df(takipçi):
    
    data = [[k.id,
             k.created_at,
             k.screen_name,
             k.location,
             k.followers_count,
             k.statuses_count,
             k.friends_count,
             k.favourites_count] for k in takipçi]
    
    
    columns = ['id','created_at','screen_name','location','followers_count','statuses_count','friends_count','favourites_count']
    
    return pd.DataFrame(data,columns=columns)

In [14]:
df = friends_df(followers)

In [15]:
df.head()

,id,created_at,screen_name,location,followers_count,statuses_count,friends_count,favourites_count
0,1423073121729454088,2021-08-05 00:07:28,Meryem51853387,,174,0,11,0
1,827073211649159168,2017-02-02 08:36:34,Mhrgl01,"Midyat, Türkiye",21,548,33,158
2,1424463017207607302,2021-08-08 20:10:50,Altindararzu89,,0,0,9,0
3,1424235238323015682,2021-08-08 05:05:37,MehmetBozaciog2,,0,2,24,1
4,1424463355864092678,2021-08-08 20:11:56,iamSoulflyy,,0,0,5,0

In [16]:
# screen_name => index

In [17]:
df.index = df.screen_name

In [19]:
# segmentasyon datasını seçelim

In [20]:
s_data = df[['followers_count','statuses_count']]

In [21]:
s_data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 20 entries, Meryem51853387 to Unal0311
Data columns (total 2 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   followers_count  20 non-null     int64
 1   statuses_count   20 non-null     int64
dtypes: int64(2)
memory usage: 480.0+ bytes

In [23]:
s_data.head()

                 followers_count  statuses_count
screen_name
Meryem51853387               174               0
Mhrgl01                       21             548
Altindararzu89                 0               0
MehmetBozaciog2                0               2
iamSoulflyy                    0               0

In [25]:
# amacımız followers_count * statuses_count
# 0 değerleri bu değeri etkisizleştirdiğinden 0 değerleri yerine 0.01 verelim...

In [27]:
s_data = s_data + 0.01

In [29]:
s_data

                 followers_count  statuses_count
screen_name
Meryem51853387            174.01            0.01
Mhrgl01                    21.01          548.01
Altindararzu89              0.01            0.01
MehmetBozaciog2             0.01            2.01
iamSoulflyy                 0.01            0.01
onderyildiz221              6.01           11.01
Haydar64498472              0.01            0.01
filizkaraali2              56.01           21.01
ahmtkrtl19034             194.01          882.01
SedatCo05004013             0.01            0.01
serdariyi                  21.01           45.01
ilyasguller79               0.01            0.01
LdDurugul                 156.01            0.01
FerdaneOzsahin              0.01            0.01
ZackyKandemir               6.01            0.01
Serdar4Turgay               0.01            0.01
enis52368669                0.01            0.01
be_hadiii                   0.01            0.01
bilaldogan19                4.01            0.01
Unal0311                    0.01            0.01